<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="callSettersOnNulls" value="true"/>
	</settings>
	<typeAliases>	
		<typeAlias type="qss.vo.CommonVo" alias="CommonVo"/>
		<typeAlias type="qss.vo.IndexVo" alias="IndexVo"/>
		<typeAlias type="qss.vo.LoginVo" alias="LoginVo"/>
		<typeAlias type="qss.vo.MenuVo" alias="MenuVo"/>
		<typeAlias type="qss.vo.MenuInfoVo" alias="MenuInfoVo"/>
		<typeAlias type="qss.vo.VaildateVo" alias="ValidateVo"/>
		<typeAlias type="qss.vo.UploadVo" alias="UploadVo"/>
	</typeAliases>

	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.ClobTypeHandler" jdbcType="CLOB" javaType="java.lang.String"/>
		<typeHandler handler="qss.util.StringCodingHandler" jdbcType="VARCHAR" javaType="java.lang.String"/>
	</typeHandlers>
</configuration>
